[2015-12-16 08:18] kinhunt opened #1 "removeClippedSubviews not working"
Coll project.

Tried to use it with ListView. removeClippedSubviews={true} has no effect. Important setting for performance improvement.

[2015-12-16 13:10] jaysoo commented on #1
@kinhunt Thanks for reporting. I'll have to do some testing.

Which react-native version are you using?

[2015-12-17 00:49] kinhunt commented on #1
@jaysoo 0.16

[2015-12-17 04:19] jaysoo commented on #1
@kinhunt I can confirm that `removeClippedSubviews` prop gets passed to the inner `ScrollView`, but I'm not sure how to go about testing it is working except memory profiling.

Can you provide some testing details?

I've also updated the example to nest `ListView` under `ParallaxScrollView` instead of the other way around, maybe this will help? https://github.com/jaysoo/react-native-parallax-scrol

[2015-12-17 05:30] kinhunt commented on #1
@jaysoo I followed your example. You can shake and open the RN performance profiler on your device or simulator. It shows the number of views. It is stable if the removeClippedSubviews is ON.

[2015-12-20 18:29] wootwoot1234 opened #2 "Getting tween warning during install"
I'm getting the following warning with I run:

    npm install react-native-parallax-scroll-view --save

Warning:

    npm WARN EPEERINVALID react-tween-state@0.1.4 requires a peer of react-dom@^0.14.2 but none was installed.
    npm WARN EPEERINVALID react-tween-state@0.1.4 requires a peer of react@>=0.14 but none was installed.

[2015-12-20 19:45] jaysoo commented on #2
@wootwoot1234 I haven't listed any dependencies in `package.json`, it might be another package you have installed previously?

[2015-12-20 19:49] wootwoot1234 commented on #2
My mistake then, sorry about that. I'll take a look at my other modules.  Cheers.

[2015-12-20 19:49] #2 closed

[2015-12-22 14:05] JonathanWi opened #3 "ListView doesn't take full available height per default"
Hey, first of all, thanks for an awesome component!

I have a problem regarding using it with a ListView: even when I specify a flex:1 on my ListView, the height doesn't stretch to the bottom of the page :

![slack for ios upload png](https://cloud.githubusercontent.com/assets/1074479/11956832/63ecbb06-a8bd-11e5-8e96-1a80e1c9efa1.jpeg)

In red here: my ListView, that I wish would take the full ava

[2015-12-22 14:36] jaysoo commented on #3
@JonathanWi That's the way `ScrollView` works. The child view of `ScrollView` only take up the height needed to contain its content. I'm not sure if there's much you can do about it other than setting height manually on `ListView`.

What kind of problems are you running into?

If you are trying to set the background color, the current API is to provide `contentBackgroundColor`. I'm looking maybe r

[2015-12-22 14:39] jaysoo commented on #1
@kinhunt Sorry for the delayed response. As far as I can tell, the attributes are set on `ScrollView` properly. Perhaps there's something going on in RN 0.16.0 that is causing problems?

I'm going to close this ticket for now, but if you continue to run into this issue feel free to reopen.

[2015-12-22 15:02] JonathanWi commented on #3
Thank you for your detailed and quick answer!

It's a bit hard to explain the behavior I'm trying to achieve, basically on a lot of screen I have this `<FriendList />` component that displays a ListView *and* a Call to Action, which is absolute positioned to always be displayed at the bottom of the ListView (and over it). This works everywhere because ListView takes up all available space (see scr

[2015-12-22 15:39] kinhunt commented on #1
@jaysoo sure. thank you. I will do some tests and give you more details.

[2015-12-22 17:03] jaysoo commented on #3
@JonathanWi If there's a use case for it, I'd definitely want to support it (if possible). I need to dig in to understand how scrolling works underneath the hood a bit better.

As a workaround, can you wrap the CTA and `ParallaxScrollView` in another component that has `flex: 1`?

e.g.

[code]

[2015-12-22 17:09] JonathanWi commented on #3
Thanks again for taking the time!

I could try, and it might work, but all in all that would mean re-writing my "container-agnostic" component. Let me have a look and get back to you about this, as I think it will work. After some tries, I think the behavior I have is to be expected so I will have a hard time keeping my component "as is".

I haven't looked at how your component works under the hoo

[2015-12-23 12:37] jaysoo commented on #3
@JonathanWi Let me know. I also welcome any PRs if you find improvements. :smiley:

[2015-12-24 18:43] bozzmob opened #5 "Warning : Failed propType: Invalid prop `colors[0]`"
Hi,

I tried the list view example listed in the examples folder. Here is the [code](https://github.com/bozzmob/react-native-parallax-scroll-view) I have tried.

I am getting the following warning. Please help resolve this.

![screenshot_2015-12-24-22-48-27](https://cloud.githubusercontent.com/assets/1252941/11996835/cacdf6fc-aa91-11e5-9c53-cdece8bca9e6.png)

What am I doing wrong? It's the exact

[2015-12-24 18:43] bozzmob opened #6 "List view and other components flickers when scrolled up"
This is an observation that I came across while testing on the phone.

When I scroll up till the end(when I reach the bottom of list view), all components of the app flicker or drag.

Recorded a [video](https://www.youtube.com/watch?v=_GI5v1HAmko) for more clarity.

[2015-12-24 23:06] jaysoo commented on #5
This is a bug in the `PullToRefreshView` component of react-native.

https://github.com/facebook/react-native/issues/4663

You can safely ignore it for now until it is patched in RN.

[2015-12-24 23:06] #5 closed

[2015-12-24 23:11] jaysoo commented on #6
Hi @bozzmob, thanks for reporting this issue. I won't have much time the next few days due to the holidays, but will take a look when I get the chance.

[2015-12-25 15:58] bozzmob commented on #5
Sure, thanks @jaysoo  for the reference.

[2015-12-25 15:59] bozzmob commented on #6
Sure @jaysoo I will also have a look at it. This is great work! Amazing repo. :+1:  Happy holidays!

[2016-01-04 09:46] kinhunt commented on #1
@jaysoo happy new year. Unfortunately, the problem is still there with RN 0.17.0

[2016-01-04 14:33] jaysoo commented on #1
@kinhunt I'll take another look at this.

[2016-01-04 14:34] jaysoo commented on #6
@bozzmob Thanks! Hope you enjoyed your holidays. I'll take a look soon, just getting back into things now.

[2016-01-04 15:52] bozzmob commented on #6
@jaysoo Thanks :)

[2016-01-04 17:46] #6 closed

[2016-01-04 17:49] jaysoo commented on #6
@bozzmob The flickering should not happen anymore.

There was some problem when updating the dimensions of each subview even though they should not be changing. I fixed this by preventing state updates unless they will cause dimensions to change.

[2016-01-04 18:36] bozzmob commented on #6
Thanks for the quick fix. Will check it soon :)

[2016-01-07 19:52] Ehesp opened #7 "Fade out image"
On the example:

![gif](https://github.com/jaysoo/react-native-parallax-scroll-view/raw/master/demo.android.gif)

To make it more "Android" like, is there any way to make this fade out into the colour of the header rather than instantly change to the base color?

[2016-01-07 20:21] jaysoo commented on #7
Hi @Ehesp, this is possible. I need to take a look at the animation opacity animation.

[2016-01-07 20:31] Ehesp commented on #7
If it's any help, we do it here:

https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/IconToggle.js

So could update the "opacityValue" on scroll percentage, and just ensure the background colour behind the image is the same as the toolbar?

[2016-01-18 00:02] jaysoo commented on #3
@JonathanWi Closing this issue for now. I suggest the workaround I posted above for your particular use case.

Feel free this re-open this issue if you new information/requirements come up.

[2016-01-18 00:02] #3 closed

[2016-01-18 00:07] jaysoo commented on #7
Sorry for the delay, been a busy month so far! I dug into the issue and found that `removeClippedSubviews` is working, but I forgot to add `overflow: hidden` in my [ListView example](https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/examples/ListView/Talks.js#L205). I've update the example now.

Here's the test I used. The number of views stays constants at around 55 while sc

[2016-01-18 00:08] jaysoo commented on #7
Oops, closed the wrong issue. Reopening.

[2016-01-18 00:08] jaysoo commented on #1
@kinhunt

Sorry for the delay, been a busy month so far! I dug into the issue and found that `removeClippedSubviews` is working, but I forgot to add `overflow: hidden` in my [ListView example](https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/examples/ListView/Talks.js#L205). I've update the example now.

Here's the test I used. The number of views stays constants at around 5

[2016-01-18 00:08] #1 closed

[2016-01-18 00:15] jaysoo commented on #7
@Ehesp I just realized the the demo is probably out of date. Here's the current version:

https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/demo.android.20160117.gif

The opacity is interpolated based on the scroll position.

Let me know if you think the values need to be tweaked, or requires customizable.

https://github.com/jaysoo/react-native-parallax-scroll-view/blob/mast

[2016-01-20 14:09] jaysoo commented on #7
Closing this issue. Feel free to reopen if anything else comes up.

[2016-01-20 14:09] #7 closed

[2016-01-31 18:51] 9mm opened #9 "Option to disable scroll acceleration?"
Are you guys open to adding this. I love this parallax so much but I don't like how it upsets the expected tactile feedback of dragging.

I could attempt to add it, if you guys are open to it.

[2016-01-31 21:58] 9mm commented on #9
After looking at this, I'm not even sure how to disable the scroll acceleration without messing up the rest of the parallax (the image no longer grows or slides when I remove the parts where I think it would be). Any ideas? :|

[2016-02-01 02:28] jaysoo commented on #9
@9mm Can you provide a small example to show the problem at hand? I can try to find a solution once I know the full detail of the problem.

[2016-02-01 02:33] jaysoo commented on #9
Also, any description, screenshots, GIFs, etc. to help illustrate the problem might help too.

[2016-02-01 02:38] 9mm commented on #9
Sure!

Essentially the 'problem' looks more like a design decision rather than a bug. This is such a fantastic library, however and definitely want to use it.

I believe the expected behavior when one drags their finger is that the content drags at the same speed as their thumb moves.

This library however, in order to achieve the parallax effect, moves the header image at `1x` dragging speed whil

[2016-02-01 04:04] jaysoo commented on #9
@9mm I see. So basically, the top of the content scrolls up faster due to the parallax view then it would using a normal list view.

For example, if a user drags their finger up 10 dp on a ListView, they would drag the content up by 10 dp. However, with the ParallaxScrollView, when the user drags their finger up 10 dp, the content goes up more than 10 dp.

Is that correct?

[2016-02-01 04:47] 9mm commented on #9
Yep, exactly - that's correct.

I think a lot of other parallax solutions solve this dilemma by having the image go slower than drag speed, rather than the same speed (basically that becomes the variable which changes rather than the content which would remain constant).

And yes you're right about the scrolling is faster only at the start, and then it slows down to `1x` speed. I just think it wou

[2016-02-01 13:59] jaysoo commented on #9
I can take a look tonight. The main work would be to come up with the formula for header height, background image offset, etc based on the scroll position of the scroll view.

[2016-02-01 16:36] 9mm commented on #9
You are so immensely awesome, **thank you so much**.

[2016-02-01 16:36] 9mm commented on #9
I think FWIW it might be cool to have both options, like `acceleratedMode` or something

[2016-02-01 17:16] jaysoo commented on #9
@9mm I don't think we need a different behaviour for it. I didn't really realize it before, but I think what you described should be the only correct behaviour.

Scrolling speed can be changed by providing a different ScrollView via `renderScrollComponent` prop.

Thanks for bringing this to my attention. :)

[2016-02-02 01:54] 9mm commented on #9
I have a cool idea, if you haven't already started yet. It's not a big deal, just something I am experiencing, and if you have to do some of this over anyway, it might be worth pointing out.

Lets say you had a square image in `renderBackground`, and the phone is `300` wide. Then let's say you  set `parallaxHeaderHeight` to `height * 0.8` (so that it doesnt take up so much room).

It would be cool

[2016-02-02 03:14] jaysoo commented on #9
@9mm I have some changes locally that fixes the speed issue. I'm thinking about adding two optional props for controlling the scrolling speed of the background and header, relative to the scroll content.

The thing I'm trying to figure out is how I can persist press events to the header, since I have it behind the scroll content at the moment (for performance and simplicity reasons).

Can you open

[2016-02-02 03:16] 9mm commented on #9
Sure! And I liked your idea about the props controlling the speed.

[2016-02-02 03:18] 9mm opened #10 "'Reveal all' while scrolling before expansion happens"
Just an idea I had -- Lets say you had a square image in `renderBackground`, and the phone is `300` wide. Then let's say you  set `parallaxHeaderHeight` to `height * 0.8` (so that it doesnt take up so much room).

It would be cool if, as you scroll down, the parallax would uncover the remaining `0.2` left of the image before 'widening' or becoming elastic. It would allow taller images to be used,

[2016-02-02 03:58] jaysoo commented on #9
Out of curiosity, do you use any press handlers on the header? Because you could try the `9-scroll-speed` branch if you don't need it.

Not sure if I can get this working tonight. Need to look into the gesture system or an alternative way to set this up.

[2016-02-02 04:00] 9mm commented on #9
Yep, I use an `onPress` inside `renderParallaxHeader`

[2016-02-02 12:58] jaysoo commented on #9
Gonna take another shot tonight by redoing the scrolling behaviour a bit. THe problem with layering the header behind scroll component is that there is no way to interact with i.

[2016-02-02 15:13] jaysoo commented on #9
@9mm Can you try `npm install react-native-parallax-scroll-view@0.17.0-rc`?

The updated README is [here](https://github.com/jaysoo/react-native-parallax-scroll-view/tree/0.17-stable).

The new version will get rid of parallax effect on the foreground header (unfortunately). But I think it's more important to keep the scroll speed in sync with user scroll speed.

I am coming up with some ideas on

[2016-02-02 15:47] jaysoo commented on #10
With the 0.17 refactor, this should be possible to do. Will take a look when I get time. :)

[2016-02-02 19:10] 9mm commented on #9
It works great so far. Is it possible not to have the foreground fade out to 0 opacity?

[2016-02-02 19:15] 9mm commented on #9
As far as the foreground, thats something I won't ever use parallax on, so that part doesn't bother me.

It works with touch events perfectly as well.

Great work!

The last thing I will do is check the performance on old iPhone, because thats one thing your library did 100x better than the other parallax library.

[2016-02-02 19:17] jaysoo commented on #9
Yeah, there is a fade, but it is scaled to be non-linear with a bias towards the end. I can tweak it so it's more linear (maybe with an option later to take in user-specified value).

Let me know re: performance. That's something I definitely care about. :)

Thanks!

[2016-02-02 19:18] 9mm commented on #9
Yeah I'd definitely say have an option to be constant the whole way without fade. That was another thing I also really liked about your lib.

Will check perf tonight

[2016-02-02 19:40] 9mm commented on #9
Tested on an older iphone and performance is :100: top notch. Awesome work!

[2016-02-02 19:40] 9mm commented on #9
Let me know what your thoughts are on the opacity thing. Thanks again, you are so awesome :D

[2016-02-02 21:21] jaysoo commented on #9
I'm going to be adding a `fadeOutForeground` boolean prop tonight (default to `true`). Potentially I could provide further customizations by allowing an animation factory function or something. Will need to think about it more. :)

[2016-02-03 01:10] jaysoo commented on #9
@9mm Just pushed version `0.17.2` with a more prominent fade out of the foreground. Let me know how it's working out and we can close this issue.

[2016-02-03 01:37] 9mm commented on #9
It's absolutely awesome!

![](https://media.giphy.com/media/Cj3Ce7e8h2EKY/giphy.gif)

[2016-02-03 01:37] #9 closed

[2016-02-03 11:10] coolneka opened #11 "seems method ‘renderFixedHeader’ doesn't work"
Views return by method ‘renderFixedHeader’ can't be seen ,I can't find the reason..

[2016-02-03 14:02] jaysoo commented on #11
Right now fixed headers only renders if sticky header renders. This can be fixed.

In the meantime, a workaround is to provide an empty sticky header.

[2016-02-04 04:56] jaysoo commented on #11
@coolneka This is now fixed in `0.17.3`.

[2016-02-09 05:04] #11 closed

[2016-02-10 17:39] generalChaos opened #12 "Feature Request: Option to fadeout background"
Hello and many thanks for the great plugin. The scrollview I have it implemented it for, has a transparent background making it so that when you scroll up the background is still visible behind the list items.  I was wondering if you could add the ability to fadeout the background (same as you have for foreground).
Thanks.

[2016-02-10 18:52] jaysoo commented on #12
@generalChaos That should be possible. I'll take a look sometime this week when I get the chance.

[2016-02-10 19:01] generalChaos commented on #12
@jaysoo  Thanks.  I actually took a look at the code and you made it really easy to make the change.  I have created a pull request for it, hopefully you'll approve it.  Cheers.  (https://github.com/jaysoo/react-native-parallax-scroll-view/pull/13)

[2016-02-11 02:39] jaysoo commented on #12
@generalChaos Thanks for the PR. I have merged an published a new version. :+1:

[2016-02-11 02:39] #12 closed

[2016-02-12 08:46] JonathanWi opened #14 "renderForeground isn't displayed (RN 0.18.1)"
Hello @jaysoo!

I'm trying to use your component for a RN project. I was going crazy with everything working BUT the renderForeground method, so I simply tried copy/pasting your example with listView, and this is what I've got :

<img width="375" alt="capture d ecran 2016-02-12 a 09 45 14" src="https://cloud.githubusercontent.com/assets/1074479/13002256/5b61315a-d16d-11e5-8244-b19a0dac2d0f.png">

[2016-02-12 13:52] jaysoo commented on #14
Thanks for the report, that is rather odd. Will check it out today.

[2016-02-12 15:33] JonathanWi commented on #14
Thank you very much @jaysoo, let me know if you have the same result!

[2016-02-12 17:40] jaysoo commented on #14
@JonathanWi So I ran the example with RN 0.18.1, and it does render for me. Can you possibly link me to a sample repo where this is not working?

[2016-02-12 17:41] JonathanWi commented on #14
Thanks for trying to reproduce this bug. I'm out of office for now, but I'll try to get you this ASAP. You can close this in the meantime, and if something comes up, I'll let you know

[2016-02-12 18:05] jaysoo commented on #14
Sounds good. :)

[2016-02-12 18:05] #14 closed

[2016-02-15 11:05] terrysahaidak opened #15 "Skicky ToolbarAndroid"
Really like your component. I use it with ToolbarAndroid component. I've change animating opacity to transparent of background color to get my toolbar actually visible (title, buttons etc), but still have 3 questions:
1. How can I make elevation of my toolbar? Is it possible? Tried add it when it fully visible, but can't get it work.
2. I wanna it fully visible before I scroll out parallax backgro

[2016-02-17 01:06] jaysoo commented on #15
@terrysahaidak If you render the toolbar in the foreground then it might be what you're looking for. I haven't tried it myself, but if you try it first, let me know if anything isn't working. Sample code would help tremendously if you run into any issues.

[2016-02-23 14:25] JoeArnone opened #17 "Back button"
I have one common case that I would like to do.  When the the header is invisible I would still like to show just the left arrow (back button) similar to the twitter client.  The common case is if you arrived at this view and you can still go back to the previous view on the nav stack.

[2016-02-25 03:40] jaysoo commented on #17
@JoeArnone Can you do this within the `renderFixedHeader`?

See the ListView example here: https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/examples/ListView/Talks.js#L86-L93

Of course, replace "Scroll to top" with a back button, fixed to the left. :)

[2016-02-25 05:25] JoeArnone commented on #17
Will try that out.  Thanks and great work on the parallax.

[2016-02-25 14:19] jaysoo commented on #17
@JoeArnone Let me know how it goes.

If you run into any issues, let me know about the RN version, and the sample code. :smile:

[2016-03-01 01:52] jaysoo commented on #10
@9mm Closing this one for now because I don't have much time to look at it.

[2016-03-01 01:52] #10 closed

[2016-03-01 01:52] jaysoo commented on #15
@terrysahaidak Closing this for now. Please re-open if you continue to experience the same problem.

[2016-03-01 01:52] #15 closed

[2016-03-01 01:53] jaysoo commented on #17
@JoeArnone Closing this issue. Please re-open if you experience the same problem. :)

[2016-03-01 01:53] #17 closed

[2016-03-01 20:08] braco opened #18 "Request: event for pulldown"
I would like to trigger an event when the ScrollView was pulled downward by X amount.

Is this possible now via some undocumented feature?

[2016-03-01 20:31] braco commented on #18
[code]

[2016-03-01 20:31] #18 closed

[2016-03-10 14:35] ruudkalis opened #19 "renderBackground Image does not fill height of parallaxHeaderHeight before scrolling"
Hey!

Thanks for this great react native component!

I have tested it on a simple news reader app that shows an article heading, title and HTML body. The parallax effect works fine but upon loading the background image does not fill the complete height of the header. I did not find this in the issues yet. And I wonder if there is a workaround for it. I have tried with different heights of the imag

[2016-03-15 03:11] jaysoo commented on #19
@ruudkalis Hey, thanks for reporting this issue! I'll have a look within the next 2-3 days. It's been pretty busy for me lately.

[2016-03-16 11:32] avishayil opened #20 "OnScroll, RefreshControl and onEndReached of nested ListView not working"
Hi,
I'm trying to nest the following component inside the ParallaxScrollView:
[code]
OnScroll, onEndReached and RefreshControl are not working.
I Also noticed that scroll properties are not changing by setting the OnScroll function on the ParallaxScrollView:

[code]
I also noticed the this.refs.ParallaxView.state is not updated at the OnScroll event, so I have no idea what is the new offset and wh

[2016-03-16 12:50] chrissloey opened #21 "Flickering when scrolling down"
Hey

I've noticed when scrolling down, a gap appears between the header background and the content. I've made a gif to demonstrate.

[Gif](http://addj.am/3d0u2q2r0F2E)

Code is pretty much the non-list example code, with a backgroundColor on content to make the gap more obvious. It was recorded on the simulator, on device (iPhone 6) the issue is still there but not as pronounced.

Maybe this is ju

[2016-03-18 13:42] jaysoo commented on #20
Hi @avishayil, I found it was better to use `ListView#renderScrollComponent` rather than mounting `ParallaxScrollView` as the parent of `ListView`:

[code]

This gives the ListView a chance to pass its own `onScroll` handlers down to `ParallaxScrollView`, and I think this is how you can get `refreshControl` to work.

I haven't tested this exact approach myself, but I have something similar to this

[2016-03-20 08:28] avishayil commented on #20
Awesome, thanks!

[2016-03-20 08:28] #20 closed

[2016-03-20 18:53] jaysoo commented on #21
@chrissloey Hey, thanks for reporting. I don't think there is much I can do about this at this moment because it's a limitation of the Animation API. It might be better when not running in dev mode because the JS instrumentation (for debugging) will mean less lag.

A quick solution is to provide background color to the parent component as well. See this modified render method on the NestedView exa

[2016-03-20 19:06] jaysoo commented on #19
@ruudkalis I think the problem is that your image's ratio is not the same as `window.width x 300`. You can try using [`Image#resizeMode`](https://facebook.github.io/react-native/docs/image.html).

e.g.

[code]

[2016-03-20 19:06] #19 closed

[2016-03-21 04:00] PublicParadise opened #22 "package.json: Dependency to react-native missing, examples don't compile"
### Problem

The examples imply `react-native` in `./node_modules`:
![screen shot 2016-03-20 at 8 53 04 pm](https://cloud.githubusercontent.com/assets/2541332/13910350/eeabd37e-eedd-11e5-9776-450cfde43c9d.png)

The properties of `React.xcodeproj` show the path:
![screen shot 2016-03-20 at 8 54 31 pm](https://cloud.githubusercontent.com/assets/2541332/13910359/18deef96-eede-11e5-9c28-45487795cb0f.p

[2016-03-21 04:02] PublicParadise commented on #22
never mind, that was stupid: There is a correct `package.json` in `./examples/ListView`.

[2016-03-21 04:02] #22 closed

[2016-03-21 04:11] PublicParadise opened #23 "JSON.stringify cannot serialize cyclic structures."
### Steps

- Build and run the `ListView` example
- Activate `Inspector`
- Click into the upper half of the header (i.e. on the word "World")

![screen shot 2016-03-20 at 9 07 24 pm](https://cloud.githubusercontent.com/assets/2541332/13910479/155d64c2-eee0-11e5-9b3e-4345330a9adc.png)

[2016-03-21 04:25] PublicParadise opened #24 "Events are not passed through to the background view"
#### Steps

In ListView `Talk.js` wrap background's `Image` in a  `TouchableOpacity` like this:

[code]

Build and run the modified code, then click on the background image.

#### EXPECTED
Alert popping up saying "Clicked!"

#### ACTUAL
No alert.

[2016-03-21 04:38] PublicParadise opened #25 "Events are not passed through to the foreground view if STICKY_HEADER_HEIGHT overlaps"
#### Steps

In ListView `Talk.js` wrap foreground's `Image` in a  `TouchableOpacity` like this:

[code]

Build and run the modified code, then click on the foreground image, that is, the head in the bubble.
The result is: "Foreground Clicked"

![screen shot 2016-03-20 at 9 26 04 pm](https://cloud.githubusercontent.com/assets/2541332/13910688/55bad72c-eee3-11e5-901a-10212479684b.png)

So far, so go

[2016-03-21 04:41] PublicParadise commented on #25
###  Unhandled JS Exception: Converting circular structure to JSON

If you activate the `Inspector` and click foreground image, that is, the head in the bubble you'll get this error:

![screen shot 2016-03-20 at 9 40 24 pm](https://cloud.githubusercontent.com/assets/2541332/13910768/6baf8220-eee4-11e5-8bb3-bbf8292c4ca4.png)

This issue might be related to https://github.com/jaysoo/react-native-par

[2016-03-21 04:48] PublicParadise commented on #23
I suspect the area that you need to hit is the `renderFixedHeader` area.

[2016-03-30 12:10] magrinj opened #26 "OnScroll, RefreshControl and onEndReached of nested ListView not working"
Same issue as #20.

My problem is the following, I have my parallax view, and inside it I have a Tab Bar, this Tab Bar is composed by 4 tabs, each scenes of each tabs contains a ListView with an `InfiniteScrollView`, the problem is when I reach the end the `onLoadMoreAsync` function isn't called, I try to pass the onScoll function thought all child, but I stil have the problem.
I also try to run t

[2016-04-06 03:48] bski006 commented on #26
+1 for the issue,

[2016-04-06 04:57] vugman commented on #26
+1

[2016-04-07 20:52] winfieldco commented on #21
Was also seeing this in simulator in dev mode. Was able to get this to work with a bit of hack, in _renderBackground, just add to the height a bit for the background, for example:

    return (
      <Animated.View
        style={[styles.backgroundImage, {
            backgroundColor: backgroundColor,
            height: parallaxHeaderHeight + 100,

So basically the background image will just exte

[2016-04-10 22:33] jaysoo commented on #23
@PublicParadise Sorry for the delay. The problem was that the interpolated style value of sticky header caused the inspector code to break. I'll have to double-check what's happening on React Native's end, but for now I've added an override of `toJSON` that simply returns the current interpolated value.

[2016-04-10 22:33] #23 closed

[2016-04-10 22:37] jaysoo commented on #24
@PublicParadise The background cannot be interacted with unfortunately since it is behind the foreground. I would suggest wrapping the foreground with `<TouchableOpacity>` instead.

Closing for now, but please feel free to open again with suggestions, etc.

[2016-04-10 22:37] #24 closed

[2016-04-10 23:24] jaysoo commented on #26
@magrinj Looking into it, hoping to provide a solution soon.

[2016-04-11 07:11] magrinj commented on #26
Thank you very much, that's something I really need :)
Keep us inform, if you find a solution, and if you need help to work on a solution don't hesitate!

[2016-04-14 07:04] ruudkalis commented on #19
Thanks for the advice!

[2016-04-17 03:18] iSimar opened #27 "decrease the height of the overall scroll view"
Even if I don't have anything inside the parallaxscrollview, there is still a lot of white space that's scrollable, how can i change the height size of the overall parallaxscrollview?

[2016-04-18 17:09] geezmo opened #28 "Section headers not sticky"
Hello,
i have a problem with sticky section headers of my ListView. When used in combination with ParallaxScrollView they don't stick to the top (e.g. under the fixed header), but scroll away with the ScrollView. Does anyone have encountered the same problem? Any solution?
Thanks ;-)

[2016-04-21 00:52] paulwcy opened #29 "Smaller PARALLAX_HEADER_HEIGHT causing extra spacing when scrolling down"
Updated PARALLAX_HEADER_HEIGHT in the example to 200, and when scrolling down, there's an increasing gap between the list items and parallax image. Anything above 350 seems fine.

[2016-04-25 15:00] andreialecu opened #30 "ListView example broken (onScroll)"
Not sure if this is due to React Native 0.24 or not, but in the ListView example https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/examples/ListView/Talks.js#L55

This line should be `onScroll={props.OnScroll}` otherwise the underlying ListView will not receive proper scroll events and will not be able to update or render new rows when scrolling big lists down.

[2016-04-26 09:30] segersrobbert opened #31 "ListView flex grid not working"
If we'd like to use the parallax scroll view as a grid, a basic example can be seen at [this SO question](http://stackoverflow.com/questions/29394297/listview-grid-in-react-native), the style is not applied.
I believe the flex style applied to `ListView` somehow gets overwritten by the parallax view. This is a simplified setup:

[code]
On the stylesheet:
[code]
Is this a bug? How could we get a fl

[2016-04-29 09:12] cho-is commented on #23
this is happening for me

[2016-05-02 18:05] alaycock commented on #31
[My pull request](https://github.com/jaysoo/react-native-parallax-scroll-view/pull/32) resolves this issue, it allows you to specify the property `contentContainerStyle` on the `<ParallaxScrollView>`. Which you can see in [my fork's test branch](https://github.com/alaycock/react-native-parallax-scroll-view/blob/testContainerStyles/examples/ListView/Talks.js#L61).

[2016-05-06 02:32] iSimar commented on #28
+1
Hey, Trying to do the same thing. any luck?

[2016-05-07 04:58] GilangJulianS opened #34 "Fixed header not rendered when renderStickyHeader provided"
I have this code:
`<ParallaxScrollView
            parallaxHeaderHeight={359}
            stickyHeaderHeight={60}
            renderForeground={this.renderForeground}
            renderBackground={this.renderBackground}
            renderFixedHeader={this.renderFixedHeader}>`
and the fixed header rendered as expected.
But when i add this line:
`renderStickyHeader={this.renderStickyHeader}`
the sti

[2016-05-15 10:55] magrinj commented on #26
@jaysoo: Did you have time to look on it ?
It's really a problem for me

[2016-05-17 08:20] knowbody opened #37 "Fade in sticky header"
I was wondering that it will be great to have an option to fade in the sticky header. Or maybe do a totally abstract way for the animations.

In my use case I'm having a background which is full height and I'd like it to decrease the height as I scroll up and become a sticky header which will be for example only 200px high. Currently it looks a bit weird because I fade out my background and the st

[2016-05-17 09:39] dieguitoweb commented on #28
+1 ;)

[2016-05-19 12:21] mschipperheyn opened #38 "sticky header rendered after ListView content (clipping)"
If you have an absolutely positioned FAB Button in my ListView content that overlays the parallax foreground using negative absolute positioning. This works fine. However, when I add a sticky header, the FAB Button gets clipped by the sticky header. This suggests to me that it is rendered after the ListView content.

I'm not sure if this is required for the working of the parallax effect, but if i

[2016-05-23 13:30] handoop commented on #26
@magrinj
[code]

[2016-05-29 13:37] mschipperheyn opened #39 "Scrollable tab as content"
Hi,

Really like the component! I'm trying to implement a sticky header that simply contains the navigation bar, which works fine. However, the scrollable content contains ScrollableTabView (react-native-scrollable-tab-view. I have two problems that perhaps you may have a suggestion for:
1. The scrollable tabs need to stick the top. If the page is longer than the screen, they basically scroll out

[2016-05-30 09:13] magrinj commented on #26
@handoop Thank you very much for your answer! But I still have a problem, because my child view is a custom component that contain a TabNavigator, with a list view inside, so my question is, how can I do the same as you do, with this kind of childs, or how can I disable parallax scroll when I reach the end, to allow list view to get scroll focus, and enable parallax view again when I scroll to top

[2016-06-07 04:38] joewood opened #40 "Growth of ContentHeight limited when used inside a ListView"
When the ParallaxScrollView is used as the ScrollComponent inside a ListView the content height (scrollable area) doesn't seem to grow beyond 1525 pixels, regardless of the size of the datasource.

Debugging the code it appears that the passed in children, wrapped in `_wrapChildren` is limited to 50 items (as an array of [undefined,[50],undefined]).  The limit of the children seems to be related t

[2016-06-16 07:31] viix commented on #39
@mschipperheyn , same requirements, have you got solution?

[2016-06-16 12:07] mschipperheyn commented on #39
No. My idea was to process scroll events but our dev team is not succeeding. I took them off this.

[2016-06-17 03:22] viix commented on #39
OK, was thinking the same approach.
any way, thanks for your info.

[2016-06-17 11:59] mschipperheyn commented on #39
Let me know if u come up w something. We simply didn't have the time

[2016-06-27 15:53] pavb74 commented on #29
+1

[2016-07-04 08:06] aliouchka opened #42 "ListView initialListSize and pageSize doesn't work"
the listView functions initialListSize and pageSize doesn't work, any idea please ?

[2016-07-08 19:45] matiascba opened #43 "Material design animation"
Hello, Great Component!,

I was wondering if it is possible to get this animation of material design with this component:

 [https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B6Okdz75tqQsRVpzZG0zZGVNSXM/patterns-scrolling-techniques_flex_space_overlap_xhdpi_003.webm]()

[2016-07-11 10:07] avishayil opened #44 "set parallaxHeaderHeight to adjust dynamically from content rendered inside"
Any option to do that?

[2016-07-12 09:13] Shakarang commented on #29
@paulwcy Did you find a solution?

[2016-07-14 05:45] sadika9 opened #45 "Background does not resize when width change (e.g rotate phone)"
How to auto resize background view/image on width change (when changing between landscape/portrait mode)?

Steps to reproduce (tested only on android):

- Run listview example on protrait mode.
- Then rotate phone

[2016-07-18 15:08] Shakarang opened #46 "ListView Background color"
Hey !

How can I change the background color of the ListView when we have only a few elements?

![Imgur](http://i.imgur.com/7YNxJLw.png)

In fact, I would like to change the White and the Grey to another color.

[2016-08-05 01:28] ronyv89 opened #47 "Listview sticky header."
If I used a listview, can i make the header of the listview also stick after the parallax sticky header?

[2016-08-06 13:53] swhamilton commented on #47
I am also trying to achieve this. I will report if I find anything.

[2016-08-09 12:35] pcrouillere opened #48 "We can't detect press on the image"
When I click on the image in the parallaxview nothin is detected, why ?

We can not use https://github.com/oblador/react-native-lightbox with parallax and its really bad.. :(

[2016-08-09 13:05] magrinj commented on #48
It's a good point, touch isn't detected on background and foreground view, it's annoying :/
I look a little bit into the code and I can't really find why the touch doesn't work

[2016-08-09 13:26] pcrouillere commented on #48
I was thinking the same, but in lightbox we have this :
[code]
So apparently something wrapped in Animated.View can be touchable (?!)
I really don't get why it's not working in this case, too bad :(

[2016-08-09 13:34] magrinj commented on #48
Strange... Normally a component can be touchable in an `Animated.View` but in the old version of react-native this bug happened on Android, so I was wondering if in the last release something broke up but apparently not. Maybe it's a problem with the Scroll component but I don't think so :/

[2016-08-10 20:07] blackxored opened #49 "Can we use this for a navbar?"
Is there a way to use this with a navbar, or to relay events somehow?
My navbar is react-native-router-flux's and I'd like this effect to update the navbar's title, but those are separate components, if you're not familiar the tree would look like:

<App>
<Navbar/>
<Scene>
  ... here's where i can use this component ...
</Scene>
</App>

[2016-08-12 03:21] charleyw commented on #29
[code]
It is due the hard coded number `5` in the line `outputRange: [5, 1]`.
I tried to copy the src to my project, and try to adjust the number, and everything goes fine.

But i dont have much knownledge in react native animation, not sure why using 5, and how to determine what number should be used.

[2016-08-16 08:02] mhollweck commented on #48
+1

[2016-08-16 09:08] magrinj commented on #48
Ok so I look deep into the code, and I don't really understand why touchable components doesn't work in the background, but I think that's can be due to all the view behind the background component. In my app I just set my button in the foreground and that's working! :)

In my first message, I said that it doesn't work, but the problem was I don't use `TouchableWithoutFeedback` in the right way, t

[2016-08-16 17:45] bhavyata9 commented on #48
If you make the following changes in the source in index.js it should work:

  _maybeRenderStickyHeader({ parallaxHeaderHeight, stickyHeaderHeight, backgroundColor, renderFixedHeader, renderStickyHeader }) {
    const { viewWidth, scrollY } = this.state;
    if (renderStickyHeader || renderFixedHeader) {
      const p = pivotPoint(parallaxHeaderHeight, stickyHeaderHeight);
      return (
        <

[2016-08-17 09:39] pcrouillere commented on #48
Hey @bhavyata9 Thank you !
But can you use "Insert code", cause I think there are some mistake in your code, for exemple "return (
0?stickyHeaderHeight:0 } : null ) }]}>".

Thanks in advance :)

[2016-08-17 13:15] bhavyata9 commented on #48
[index.txt](https://github.com/jaysoo/react-native-parallax-scroll-view/files/422650/index.txt)

[2016-08-17 14:01] muskeinsingh opened #50 "onEndReached not getting called for ListView"
Hey,

I'm using a ParallaxScrollView inside the renderScrollComponent of the ListView on ReactNative-Android . I've implemented onEndReached on the ListView to make sure more items are fetched as soon as the item list is about to end. But as soon as I add ParallaxScrollView in the renderScrollComponent, it renders only the first fold of items and never queries for more items. Can somebody help on

[2016-08-17 19:01] tiaaaa123 commented on #34
I'm currently having the same issue. Anyone know how to fix it?

[2016-08-18 08:05] pcrouillere commented on #48
@bhavyata9
It's not working, still no lightbox :(
but thanks :)

[2016-08-18 08:08] magrinj commented on #48
@pcrouillere Did you try to put your button in the foreground as I suggest in my last message ?

[2016-08-18 08:09] pcrouillere commented on #48
@magrinj I'm going to try today ! But with the button I have to make my "own" lightbox I think.

[2016-08-18 08:12] magrinj commented on #48
@pcrouillere Oh yes sorry I forgot that LightBox wrap the image child and detect the click :/
Yes maybe you have to do your own lightbox for this.

[2016-08-18 08:16] magrinj commented on #48
@pcrouillere You can also modify lightbox code, to enable it to be opened programmatically

[2016-08-26 10:26] waleedarshad-vf commented on #47
Did anybody find anything on this?

[2016-08-26 12:02] waleedarshad-vf commented on #50
Same problem here. is it really the problem?

[2016-08-30 05:18] damianlajara opened #51 "Sticky/Fixed header background color and opacity?"
Is there a way to change the background color of the sticky and fixed headers? Was going through the props, but didn't really see an option for it.

[2016-08-31 13:24] swhamilton commented on #47
I was unable to figure out how to make this happen. I did find this post that discusses sticky headers integrated into another plugin (react-native-scrollable-tab-view) that I believe is similar to what needs to happen.

Let me know if you get this integrated!

[Stack Overflow link](http://stackoverflow.com/questions/31066437/how-to-get-listview-section-header-to-stick)

[2016-09-01 15:32] ChristianTucker opened #53 "[FATAL]: inputRange must be monotonically increasing 0,NaN"
I'm using the example code available on the `README.md` file and obtaining the error provided above, here's the stack-trace.

![image](https://cloud.githubusercontent.com/assets/21312394/18173456/41f36920-702f-11e6-911e-d003b3ae7fc9.png)

This points to the block of code in index.js

[code]

I'm running the latest version of react and react-native and running iOS 9.3 on a simulator.

Just in the e

[2016-09-01 15:43] ChristianTucker commented on #53
Issue seemed to fix itself after a few minutes. I got up to go get a drink and came back and the error screen was gone and everything is working fine. I guess the bundle didn't get updated during the reload process.

[2016-09-01 15:43] #53 closed

[2016-09-01 16:51] ChristianTucker opened #54 "Touch events not passed to Background component."
I'm attempting to use the Background component to render a Slidebox containing multiple images. The reason that I'm using the Background is because it resizes with the Parallax bounce.

Touch events are not passed to the Background component however.

[2016-09-01 17:21] ChristianTucker commented on #29
There really need to be a clear-cut answer to this, as changing the number here does nothing for me.

[2016-09-07 20:35] Amurmurmur commented on #29
Same issue here, tride 7 I can still see the gap :/
Tried to set the background color for the parallax header, but it then overlaps the actual background :/

[2016-09-09 01:29] jatazoulja commented on #45
This cause by the fix width, from Dimension and does not update on orientation change...
I did a couple of inheritance class from component that listen to orientation change.
I use :
`var Orientation = require('react-native-orientation-listener');`

`    constructor(props) {
        Orientation.getOrientation(function(orientation) {
            MainOrientation=orientation.orientation;
        });

[2016-09-10 11:08] maestrolsj opened #55 "About The number of rows"
I  tested  your ListView exmple.
and I added data more than 40.

like this...
but only 21 rows showed up.

Could you give me some comments.

class Talks extends Component {
    constructor(props) {
        super(props);
        this.state =  {
            dataSource: new ListView.DataSource({
                rowHasChanged: (r1, r2) => r1 !== r2
            }).cloneWithRows([
                'Simpl

[2016-09-10 11:59] maestrolsj commented on #55
I solved this problem with giving props
initialListSize={100}

[2016-09-13 15:23] sundayha commented on #26
@jaysoo Hi jaysoo.Did you have time to look on it ?
It's really a problem for me.+1 for the issue

[2016-09-15 09:30] sercanov commented on #42
Yes, I have the same issue. But I don't know if it's related to here or react native.

The code below renders only 3 rows. I think it's related to scroll handler, listview seems cannot get the bottom scroll offset.

[code]

facebook/react-native#8467

[2016-09-17 01:19] DonovanCharpin commented on #51
I didn't see any props to modify the background color of sticky header. You have to create a `View` inside and give the backgroundColor style.
[code]

[code]

[2016-09-18 06:26] RohitKumarMahadev commented on #28
Same here!

[2016-09-20 07:22] waleedarshad-vf commented on #50
Anybody working on it??? @jaysoo ?. 25 days have been passed. i am stuck with development. any other library which will help? @muskeinsingh  what did you use?

[2016-09-20 08:39] muskeinsingh commented on #50
@waleedarshad-vf I kind of developed a way of my own. I started listening to the scrollListener on the Listview and Animated my View using a transform. I didn't use the ParallaxScrollView in my renderScrollComponent since it was only causing more problems than it was helping.
@jaysoo any help on this would be appreciated since what I did doesn't seem to be a clean solution. It's more of a hack aro

[2016-09-20 10:12] waleedarshad-vf commented on #50
@muskeinsingh for the time being can you share sample code from you solution which works or any other solution you suggest?

[2016-09-22 06:57] waleedarshad-vf commented on #30
@andreialecu onScroll can used instead inplace of onReachedEnd?

[2016-09-22 07:00] waleedarshad-vf commented on #50
@muskeinsingh ? need your help

[2016-09-22 07:00] waleedarshad-vf commented on #50
@alaycock how can i used onReachEnd? can you help me?

[2016-09-22 07:07] waleedarshad-vf commented on #50
@jaysoo would you please advise?

[2016-09-22 07:11] waleedarshad-vf commented on #20
@avishayil onEndReached was working? when you test?

[2016-09-22 07:20] muskeinsingh commented on #50
Use this prop for ListView : onScroll:this.handleScroll.
HandleScroll looks like this.
handleScroll(event:Object){
		this.scrollPostion =  event.nativeEvent.contentOffset.y;
}
 It should return you the scrollPosition and then you can animate the view based on this. Hope this helps!

[2016-09-22 09:52] waleedarshad-vf commented on #55
Is Dynamic rows working fine?

[2016-09-22 09:59] waleedarshad-vf commented on #42
@sercanov any other solution or any other library you suggest until it get resolved?

[2016-09-22 10:00] waleedarshad-vf commented on #42
I am having same issue +1

[2016-09-22 10:11] sercanov commented on #42
@waleedarshad-vf it's the only library meet my requirements so I'm stuck with it.

I was having performance issues because of heavy rendering so I decided to an UI workaround in `renderRow` function and right now I'm OK but if you have much more rows to render, you should need to make it work with `initalListSize` and `pageSize`

Could you try the code below, I don't remember if it was working or

[2016-09-22 13:21] waleedarshad-vf commented on #50
Thanks @muskeinsingh  this resolve the problem. I was suffering from this issue from last 27 days finally resolved it with your help. Thanks again. :)

[2016-09-23 09:50] muskeinsingh commented on #50
Sure thing. @waleedarshad-vf
@jaysoo can we get some generic solution here?

[2016-09-27 05:47] infacq commented on #39
I also want to combine it with `tabBarIos` but no success

[2016-09-27 12:44] waleedarshad-vf opened #56 "renderFixedHeader changing state in this method take much time"
renderFixedHeader={() => (
              <View key="fixed-header" style={styles.fixedSection}>
                <Text style={[styles.fixedSectionText,{borderColor: '#ccc',borderBottomWidth: 5}]}
                onPress={() => this.addToZig()}>
                {this.state.follow ? 'ADD TO ZIGLIST' : 'REMOVE FROM ZIGLIST'}

                </Text>
              </View>
            )}

Changing this.s

[2016-09-27 13:29] waleedarshad-vf commented on #28
+1

[2016-09-27 13:30] waleedarshad-vf commented on #28
Anyone find soultion on this?

[2016-09-28 08:02] sebastienbarteau commented on #48
This component can render a foreground view and a background view but the parrallax is only on the background view. Whereas the foreground view detects the click.
So as @magrinj said, you need to make a transparent button on the foreground if you want to make it work.
For instance a view with opacity 0 containing a ligthbox component.
This should do the trick.

Regards,
Sébastien

[2016-09-28 20:53] mschipperheyn commented on #39
It would be nice to be able to detect when the parallax animation has completed its open and close cycle. With that we can enable / disable scrolling on child listviews so this problem doesn't occur.

[2016-10-06 19:35] amanofscience commented on #34
I'm having the same issue

[2016-11-09 04:38] tanpuer opened #58 "ListView renderSectionHeader"
First,thanks for react-native-parallax-scroll-view. It really helps me a lot.

I found that renderSectionHeader is not working. I want a fixed header in the listview. Can you give me some suggestion?

<ListView
                ref="ListView"
                style={styles.container}
                dataSource={ this.state.dataSource }
                renderRow={(rowData) => (
                    <V

[2016-11-09 05:24] tanpuer commented on #58
another question
Is it compatible with react-native-scrollable-tab-view

[2016-11-09 05:40] tanpuer commented on #39
I really like this component . But it is not compatible with react-native-scrollable-tab-view.
If you have fixed this problem, can you share with me?

[2016-11-09 05:42] tanpuer commented on #28
same problem ...
I am so anxious

[2016-11-10 16:17] mschipperheyn commented on #58
I have not been able to get it to work properly with scrollable-tab-view

[2016-11-14 10:50] tanpuer commented on #58
ListContainer in Facebook f8 is the exactly component I want. It is similar with the component in issue 39  https://github.com/jaysoo/react-native-parallax-scroll-view/issues/39.
But it is difficult for me to override it . Can you have a try?

[2016-11-16 10:28] tanpuer commented on #39
Facebook f8 app provides ListContainer, it is similar with the combination of ScrollableTabView and ParallaxView. I have a try, it does work!

[2016-11-26 16:36] richTheCreator commented on #54
Did you figure this out? Running into same issue. @ghost

[2016-12-08 04:49] philipheinser commented on #55
@maestrolsj #60 should fix your issue

[2016-12-08 04:49] philipheinser commented on #50
@muskeinsingh #60 fixed the issue for us

[2016-12-08 09:39] tanpuer commented on #48
using zIndex and the background view can detects the click,
but it needs react-native version higher than 0.30

[2016-12-13 08:45] brianjd commented on #34
I'm guessing your fixed header container doesn't have an absolute position?

[2016-12-14 14:49] jaysoo commented on #50
Taking a look.

[2016-12-15 13:39] aterribili commented on #26
+1

[2016-12-17 17:01] judgejab commented on #27
Any updates on this?

[2016-12-19 21:11] brianjd commented on #48
Haven't tested yet, but this feels like a case for [pointerEvents](https://facebook.github.io/react-native/docs/view.html#pointerevents).

[2017-01-05 02:01] eard7 commented on #29
I've solved this temporary wrapping the Listview in a View with a backgroundColor equals to contentBackgroundColor in ParallaxScrollView.

`<View style={{backgroundColor: 'rgb(240,240,240)', flex: 1}}>
				<ListView
					dataSource={this.state.dataSource}
					renderRow={this.renderAviso}
					ref="listaAvisos"
					renderScrollComponent={props=> (
				        <ParallaxScrollView
				        onScr

[2017-01-20 17:44] ddeanto opened #62 "It's backgroundScrollSpeed not backgroundSpeed"
The README defines the prop as "backgroundSpeed", but looking in the source code the prop is defined as "backgroundScrollSpeed"

[2017-01-20 17:51] ddeanto commented on #62
And sorry guys, I'm a little bit of a newbie with the open source community, I am not sure if the correct thing to do for such a simple issue is to fork the repo, update the docs, and make a pull request?

[2017-01-26 10:08] jy1989 commented on #55
I met same problem

[2017-01-27 04:07] Amurmurmur opened #63 "Modify foreground and background behaviours"
I would so much appreciate, if somebody can explain on fingers:

1. How to manipulate the background so that when you pull the view down, it doesnt resize the image but instead lets you bounce with the image itself, instead of zooming in.

2. How to manipulate the foreground so that when you scroll up the content goes on top of the foreground content(foreground gets behind the content), instead of

[2017-02-07 22:16] braco commented on #63
@Amurmurmur - don't think this package is supported anymore, last update 8 months ago

[2017-02-11 22:53] eggytronixx commented on #26
Is there a solution for this yet?

[2017-02-13 16:49] magrinj commented on #26
The solution of @thanatosx should work :)

[2017-02-16 19:25] georgemickael-b opened #64 "Cannot render more than on parallax scroll view in a view."

[2017-03-06 18:07] if4lcon opened #65 "NavigatorIOS"
Can I use it with NavigatorIOS

[2017-03-10 11:36] iEricKoh commented on #27
Same problem.

[2017-03-12 16:19] scottsgcho opened #66 "Can't change background color of the sticky header"
Hi, is there a way to change the background color for the sticky header?

The default color for the header is black, and I can't override it by nesting a view because the view slides up from the bottom.

Thank you for the support.

[2017-03-14 21:47] psyzz commented on #54
@richTheCreator Did you figure this out? :D

[2017-03-15 16:59] nbastoWM commented on #48
I'm trying to insert a carousel in the parallax background but it also doesn't get the touch event.
The only one I could get to appear correctly is react-native-looped-carousel but I have to put it on autoplay or else it just stays on the first image.
I tried viewpager or image-slider but with no success.

[2017-03-16 13:48] mcmhav commented on #29
https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/src/index.js#L256 seems to be the reason.
Have had success with these two methods:
 - somewhat clean: fork repo and make https://github.com/jaysoo/react-native-parallax-scroll-view/blob/master/src/index.js#L107 optional
 - somewhat dirty: set height of _footerComponent to 0 and disable style-changes for footer
[code]

[2017-03-24 02:46] obykoo opened #67 "Detect press in Foreground impossible..."
I need to place icon back at the top of parallax. So I do this with absolute position , but however then there is no onPress event. If I move icon out of  renderForeground , then I can detect onPress , but I can not hide it when only sticky header is visible.....

[2017-03-24 03:49] obykoo commented on #67
What I mean , there is no way to detect click on Foreground in upper left corner even with z-index. It simply does not work.

[2017-04-01 23:43] Kris4an7 opened #68 "Many parallax elements ?"
Hello, is it possible to have more than one parallax effect in a scrollview ? Right now I only have the header that does the animation but is it possible to do something like in this library: https://github.com/oblador/react-native-parallax

Sadly, i couldn't make it work as I think it's not supported anymore.

Thank you !

[2017-04-03 20:09] peacechen commented on #44
👍   The static header height values are inflexible for dynamic content in the headers.  `onLayout` could be leveraged by this library to automatically detect the size of the contents.

[2017-04-03 20:14] peacechen opened #69 "stickyHeader prevents touch events on foreground"
When both `renderForeground` and `renderStickyHeader` are supplied, touch events no longer register on the foreground header.

[2017-04-18 22:32] brunitob commented on #54
@psyzz @richTheCreator Did you figure this out?

[2017-04-18 22:37] richTheCreator commented on #54
Nah, I ended up rolling my own parallax scrollview.

[2017-04-20 09:40] z4o4z commented on #63
@Amurmurmur I just released new parallax scroll lib, maybe it'll help you https://www.npmjs.com/package/react-native-parallax-scroll

[2017-04-20 10:26] Amurmurmur commented on #63
@z4o4z Holy moly, Ill definitely check it out!!
MUCH appreciated!!!!
Спасибо! 👍

[2017-04-20 22:54] boniattirodrigo commented on #39
Do you have some solutions for this case? I've searched for parallax with tabs, but at the moment I found nothing yet.

[2017-05-09 16:39] zombler commented on #48
@nbastoWM any progress on figuring this out?

[2017-05-20 21:53] #68 closed

[2017-05-31 10:04] omarchacinortega13 commented on #69
Did you find a solution to this? @peacechen ? I am running into the same problem

[2017-05-31 10:13] chenyi5266 opened #71 "should delete "footerSpacer""
I think should delete footerSpacer"  in react-native-parallax-scroll-view\src\index.js    at 107   , because if have no data in listview , the page also have scroll and a blank area  on the bottom

[2017-06-08 14:39] renay007 commented on #69
Same problem here

[2017-06-11 09:07] mbashiq opened #72 "How can I get onScroll event handler for ParallaxScrollView. I need reduce width of another view as it is scrolled up."

[2017-06-11 09:08] #72 closed

[2017-06-13 19:43] nabilfreeman commented on #3
Hi guys, I encountered a similar issue (not with this component), and I got here from Google. The solution of wrapping the ListView in a `flex: 1` View worked for me 😁

[2017-06-23 12:03] Clcll opened #73 "renderBackground touchable"
I put image slider to rederBackground but it seems renderBackground isn't touchable part of ParallaxScrollView
How can i fix it ?
Thx

[2017-06-26 06:51] Dictory commented on #51
@damianlajara just set `backgroundColor`

[2017-06-26 08:43] Dictory opened #74 "background image for stickyHeader"
Hello.
Background image for stickyHeader will be useful future IMHO.
What you think about this?

[2017-06-29 07:47] luisfuertes opened #75 "iOS Sticky header bug"
Hi, first congrats for this component.

On iOS i had a bug when i render some view on top of ListView component with scrollComponent ParallaxScrollView and header is fixed.

I show some captures for undestand better:

Normal list and header (all correct)
![captura de pantalla 2017-06-29 a las 9 41 42](https://user-images.githubusercontent.com/18212615/27676719-52bfe464-5caf-11e7-88db-d97757cef55e.

[2017-07-04 09:44] pesakitan22 commented on #54
@richTheCreator mind sharing the solutions? thanks

[2017-07-04 12:03] cjbutcher commented on #28
I'm also having this issue. Trying to find a workaround. If anyone has a solution please let us know 😺

[2017-07-10 09:21] luisfuertes commented on #75
@jaysoo do you know how I could solve it?

[2017-07-20 09:48] bgoyal2222 commented on #69
I am also facing the same problem..  only the stickyHeaderHeight area is not touchable.. else works fine..
I tried disabling by changing to stickyHeaderHeight={0}, Now touches are working... Had anyone found some hack or solution then please help..

[2017-07-20 11:33] renay007 commented on #69
Unfortunately, the hack I've been using requires you to change code in the node module. **Fix #25** did the trick for me but no one merged the pull request. If you're changing the node module directly, make sure you keep track of where you made the change since all changes will go away if you delete all node modules and do a simple **npm install**

[2017-07-20 12:00] bgoyal2222 commented on #69
https://github.com/monterosalondon/react-native-parallax-scroll

i have found a alternative component check this..

[2017-07-20 12:08] renay007 commented on #69
Actually, I've looked at the current open issues and it seems that there are still problems when it comes to make the foreground touchable. Be careful and best of luck with the one you end up going with! :-)

[2017-07-20 12:10] bgoyal2222 commented on #69
isForegroundTouchable this property they have added to solve that issue

[2017-07-20 12:10] renay007 commented on #69
Awesome!!!

[2017-08-02 10:27] luisfuertes commented on #75
Any update about this?

[2017-08-02 13:44] warka0 commented on #54
I guess no one figure it out :(

[2017-08-02 13:44] warka0 commented on #73
Could be great, someone has an idea ?

[2017-08-02 13:55] warka0 commented on #54
@jaysoo An idea ? :p

[2017-08-04 08:46] warka0 commented on #48
@nbastoWM Yeah, something to say ? :)

[2017-08-04 23:00] fungilation opened #76 ""Warning: PropTypes has been moved to a separate package"... in RN 0.45 - 0.47"
A lingering warning still on RN 0.47.1:
[code]

![screenshot 2017-08-03 20 21 15](https://user-images.githubusercontent.com/3803466/28952928-75fd2ef0-7889-11e7-9d7b-70c322fd804b.png)
In [project]/node_modules/react-native-parallax-scroll-view/src/index.js, the `index.js` referenced in above log:
![screenshot 2017-08-04 15 54 12](https://user-images.githubusercontent.com/3803466/28989944-ab5687b4-7

[2017-08-05 02:55] fungilation opened #78 "My unofficial fork with cherry picked PRs"
As this repo is most useful and beautiful, it's a shame PRs aren't being tended. I've just made a PR fixing React.PropTypes warnings since RN 0.45 (#77), and merged 2 other great PRs I want in my app: #57 and #70.

Use my fork if you find it useful: https://github.com/fungilation/react-native-parallax-scroll-view

[2017-08-18 08:41] hyochan35 opened #80 "Foreground is not clickable for size of sticky header."
Hi. I've used your library today and found strange behavior so I post the issue.

Firstly, my app ui looks like the following.
Image 1:
<img width="318" alt="2017-08-18 5 32 38" src="https://user-images.githubusercontent.com/20625109/29450954-b9339ff2-843b-11e7-9cb0-74876a71bdf1.png">
Image 2:
<img width="318" alt="2017-08-18 5 32 33" src="https://user-images.githubusercontent.com/20625109/2945096

[2017-08-25 13:49] matteo-pennisi commented on #54
+1

[2017-08-25 13:50] matteo-pennisi commented on #48
+1

[2017-08-30 06:04] mini-eggs commented on #78
Ah shoot, just went through the trouble of sending a PR for prop types.

[2017-08-31 05:27] hyochan35 commented on #80
Never mind it was same issue on the below post.

[2017-08-31 05:28] #80 closed

[2017-09-01 21:52] feliperieger commented on #54
+ 1

[2017-09-06 13:38] luisfuertes commented on #50
Sorry guys. How can i resolve this?

I had this code:
[code]

And in ParallaxScrollView
[code]

On handleScroll:
[code]

But with that scrollPosition i cant know when is the end. the maximum position does not match the height of the view neither with handleScroll: e.nativeEvent.contentSize.height or e.nativeEvent.layoutMeasurement.height...

[2017-09-08 09:11] fungilation commented on #78
Manually merged #81 from upstream: Changed animation to use native driver (performance!)

[2017-09-13 10:08] luisfuertes commented on #50
@muskeinsingh any update about this?

[2017-09-21 16:34] limitsapp opened #84 "is this broken in 0.48"
keep getting error bool is undefined

[2017-09-23 10:26] shukerullah commented on #39
Same Issue is this me, I am looking for solution.

[2017-09-23 10:46] shukerullah commented on #48
+1

[2017-09-27 13:56] luisfuertes opened #85 "npm publish 0.20.1"
Im trying to install `react-native-parallax-scroll-view@0.20.1` but:
![captura de pantalla 2017-09-27 a las 15 55 03](https://user-images.githubusercontent.com/18212615/30917420-4334355c-a39c-11e7-981a-3432911c3052.png)

Have you forgotten to do npm publish?

[2017-09-28 11:38] chookg commented on #48
+1

[2017-09-28 13:37] patheinen commented on #78
Perfect - Thanks 👍

[2017-10-01 18:23] brunolemos commented on #54
Anyone mind sharing a lib or some code that supports this?
Avoiding having to write my own if possible.

cc @richTheCreator

[2017-10-02 09:26] chiragpurohit71085 commented on #73
HI

Any body has any update on this? I have some stats in bg, which I want to clickable...

Regards,

[2017-10-02 09:27] chiragpurohit71085 commented on #54
Hi

Is there any solution for this?

Regards,

[2017-10-08 03:50] luco commented on #84
+1 here

[2017-10-08 21:39] rubensbarreto commented on #85
Same here

[2017-10-12 13:33] simonemarinelli commented on #84
+1

[2017-10-13 12:19] douglaswissett commented on #84
+1

[2017-10-14 19:58] kadoshms commented on #85
+1

[2017-10-16 09:42] artsx commented on #69
Hello,
Has anyone found a solution with this module?

[2017-10-16 21:41] i6mi6 commented on #76
Fixed in #86 thanks to @jlcrow

[2017-10-16 21:41] #76 closed

[2017-10-17 17:09] artsx commented on #48
+1

[2017-10-17 19:31] i6mi6 commented on #85
Published

[2017-10-17 19:31] #85 closed

[2017-10-18 08:20] artsx opened #87 "footerSpacer appear i dont know why"
Hello,
When I put the module, the footerSpacer is added by putting me heights monstrous, how to make it not appear?
<img width="281" alt="screen shot 2017-10-18 at 10 20 32" src="https://user-images.githubusercontent.com/7711803/31707943-fe22e528-b3ed-11e7-9468-d3c1740cc0de.png">

[2017-10-19 10:55] blastering66 opened #88 "renderFixedHeader did not Showing if contain <View> on Android."
Im having this bug.
FixedHeader in Android did not show, if i render a Composite View. But Showed on Touchable.
But on IOS doesnt have this problem....

This Code Works :
`renderFixedHeader={() => (
            <TouchableWithoutFeedback onPress={() => navigation.dispatch(NavigationActions.back(null))
            }>
              <Image style={styled.buttonBack} source={require('../../../assets/ico

[2017-10-19 11:02] blastering66 opened #89 "renderFixedHeader not Working on Component View"
Im having this bug.
FixedHeader in Android did not show, if i render a Composite View. But Showed on Touchable.
But on IOS doesnt have this problem....

This Code Works :
`renderFixedHeader={() => (
            <TouchableWithoutFeedback onPress={() => navigation.dispatch(NavigationActions.back(null))
            }>
              <Image style={styled.buttonBack} source={require('../../../assets/ico

[2017-10-19 11:08] #88 closed

[2017-10-19 11:09] blastering66 commented on #89
`render() {
    const myprofile = this.state.myprofile
    const dataGallery = this.state.gallery

    if (ios) {
      return (
        <ParallaxScrollView
          style={ ios ? { paddingTop: 20, paddingBottom: 0 } : { }}
          renderStickyHeader={() => (
            <View style={{ flex: 1 }}>
              <View style={styled.container_title}>
                <Text style={[styled.headerTit

[2017-10-19 11:11] blastering66 commented on #89
This is my Full code

`render() {
  const myprofile = this.state.myprofile
  const dataGallery = this.state.gallery

  return (
    <ScrollView style={ ios ? { paddingTop: 20 } : { }}>
    <View style={[styled.container, { paddingBottom: 20 }]} >
      <View style={styled.container_header}>

        <TouchableHighlight style={styled.canvas_gallery}>
          <View style={styled.canvas_pp}>

[2017-10-23 09:26] nbastoWM commented on #48
Unfortunately I had to abandon Parallax in order to have a scroll of images with swipe.
None of what I tried could detect the touch swipe in the parallax.

[2017-10-23 12:16] fungilation commented on #48
Can't reproduce. Touch events in images or otherwise all work in background, foreground and renderStickyHeader.

[2017-10-30 06:09] hadg opened #90 "footerHeight is set to the wrong value"
test code:
[code]
console out:
![360 -70966602](https://user-images.githubusercontent.com/4592450/32156670-c7946640-bd79-11e7-8892-e077439401f2.jpg)

I found that the this.state.viewHeight was changed by the _maybeUpdateViewDimensions(), but the onLayout did not read the modified viewHeight,so cause footerHeight too high.

Now I use the following code:
[code]
footerHeight got the right value, hopi

[2017-10-30 14:38] Kosai106 commented on #87
This is apparently default behaviour. To disable this, navigate to `/node_modules/react-native-parallax-scroll-view/src/index.js:147` and comment out `footerSpacer`

This is NOT a recommended solution, but it's an easy one.

[2017-10-30 14:48] Kosai106 commented on #71
Either delete it, or find out why it's not always working as intended.

[2017-11-05 15:10] monolithed commented on #73
The same problem with renderForeground

[2017-11-07 14:42] gabrielbull commented on #78
Maybe @i6mi6 can add @fungilation as a collaborator?

[2017-11-08 15:23] i6mi6 commented on #78
@gabrielbull I added @fungilation as a collaborator. Thanks!

[2017-11-08 19:56] fungilation commented on #78
@i6mi6 thanks. What's the best course of action for merging my fork. Just do it (merging my fork) would be much easier than redo-ing all the associated PRs here. #81 is already merged here so my fork would have to resolve merge conflict if any for same changes that's already merged.

[2017-11-14 15:59] abeddow91 commented on #84
+1

[2017-11-14 22:46] i6mi6 commented on #78
@fungilation How many PRs are fixed in your fork?

[2017-11-15 00:32] fungilation commented on #78
What I referenced here. All tested working in my own app.

[2017-11-17 07:00] bispul commented on #66
exactly, whatever style we apply to the view of sticky header it slides up from the bottom.
@scottsgcho Did you solve that issue?

[2017-11-18 17:48] boxOfAces opened #91 "React-Native-Swiper doesn't work when used in renderBackground"
I am trying to use react-native-swiper by leecade ([](https://github.com/leecade/react-native-swiper)) in renderBackground with images, but all that is displayed is an opaque background. I tinkered with the `index.js` code, importing the swiper component there, and replacing the `Animated.View` with a simple View, but to no avail. Can somebody shed some light on this?

[2017-11-20 10:04] luisfuertes commented on #50
Ok, i think is height problem. I load 30 items on first render and list only render the 10 first items...  @muskeinsingh can you help me to fix it?

[2017-11-20 11:13] Balasnest opened #92 "Not able to scroll full content inside ParallaxScrollview"
I could not able to scroll the flatList fully. Whatever the content added inside the ParallaxScrollView, could not able to see till the end. What would be the problem ?

    <ParallaxScrollView
		          style={...}
		          parallaxHeaderHeight={ PARALLAX_HEADER_HEIGHT }
		          stickyHeaderHeight={ STICKY_HEADER_HEIGHT }
		          onScroll={ onScroll }
		          renderStickyHeader={

[2017-11-22 22:54] saxahan commented on #91
I have also same problem. Swiper scrolling doesn't work.

[2017-11-28 17:10] LMestre14 opened #94 "Footer Height not well calculated"
First of all, thanks for the component that you've released to the community

I was using the parallax component in a view where I had at the bottom a footer container with a button (basically like in the nested views example, but only with the bottom view).

When I was "debugging" the src index code, I saw that the status bar height (for android) wasn't being considered for the calculation (solut

[2017-11-28 17:54] mickadoua commented on #66
maybe
` <ParallaxScrollView  backgroundColor="#FF0"   >` ?

[2017-11-29 01:46] LMestre14 commented on #94
After analyzing this issue https://github.com/i6mi6/react-native-parallax-scroll-view/issues/90; I've realized that this calculation is actually what solves the problem

[2017-11-29 01:46] #94 closed

[2017-11-30 09:10] rakeskun commented on #92
I am also facing the same issue...... I put ListView inside ParallaxScrollView but could not scroll the content inside the ListView.....Looking for help.....

[2017-12-26 11:22] harshsrivastavaglobussoft commented on #92
I am also facing the same issue for android build its working in android simulator when using mouse scroll button but in device the Flatlist scroll is not working.

[2017-12-27 03:12] armanmarbun commented on #84
+1

[2017-12-27 04:14] fungilation commented on #84
Works for me. https://github.com/i6mi6/react-native-parallax-scroll-view/issues/78

[2018-01-01 07:45] hesgroup commented on #91
+1
Me too

[2018-01-11 05:35] lrain-lv opened #95 "can not work on Android"

[2018-01-22 06:53] atasgiran commented on #91
+1 If these features are added. That would be nice.

[2018-01-22 19:42] thame commented on #26
I'm getting an undefined error on this.refs.pullToRefresh.getInnerViewNode. Trying to apply this to a Flatlist.

[2018-01-23 11:02] Chiamaka commented on #92
Hey guys, I had the same issue on Android and I was able to solve it by specifying `height: null` in the style object of the `FlatList`.

Hope it helps

[2018-01-23 13:34] luisfuertes commented on #67
+1

[2018-01-25 22:12] thame opened #96 "FlatList RefreshControl not activating"

[2018-01-31 07:40] bactn opened #97 "FlatList onReachedEnd and stickySection is not working"
I tried to put a FlatList inside your ParallaxScrollView. Basically, It seems to be worked well, but when I try to use FlatList's StickySectionHeader and onReachedEnd callback, none of them works. OnReachedEnd is never called and StickySectionHeader makes no effects.

I tried to put some logs into renderItems method and I figured out, FlatList always re-render all its items when scroll. As I know,

[2018-02-01 00:34] #96 closed

[2018-02-02 23:06] magichex commented on #89
removing `flex: 1 ` from fixed header make content visible
im experiencing same issue

[2018-02-03 14:24] d3fkon commented on #67
That is because your StickyHeader component is on there with a 0 opacity and outside the view. When you scroll up, it slides in animating the opacity. So, if anything should be touchable, it should have a margin equal to the stickyHeaderHeight prop's value

[2018-02-05 08:27] luisfuertes commented on #67
@d3fkon i had this code and when Header is expanded, top buttons cant be touchable. Dont understand where i have to put the top margin.

[code]

[2018-02-05 15:21] kinandwair commented on #97
Hi try something like this
onEndReached={this._ItemLoadMore()}
don't use .bind(this)
this works for me

[2018-02-06 03:36] bactn commented on #97
I also use same as your suggestion. But It doesn't work for me

[2018-02-06 08:40] kinandwair commented on #91
Hi I'm trying to run swiper and flatlist in parallax scroll view
I just add flex:1 in Animated.View the swiper now display

[2018-02-15 10:16] ejkkan commented on #91
+1

[2018-03-04 09:59] AE0011 commented on #27
just set marginBottom of parallaxScrollView equal to header height: (**_minus_**)
<ParallaxScrollView
    style={{marginBottom: -STICKY_HEADER_HEIGHT}}
    ....

[2018-03-28 09:13] gazedash opened #101 "[android] Examples throw SyntaxError: Strict mode does not allow function declarations in a lexically nested statement."

[2018-03-29 09:18] BooYeu commented on #89
I have the same question, have you resolved this?

[2018-04-02 08:35] blastering66 commented on #89
nope.. still exists....

[2018-04-02 19:50] brycelund commented on #29
+1

[2018-04-28 22:48] dengue8830 commented on #66
duplicated from #51 `backgroundColor` is the answer, do not mistake with `headerBackgroundColor`

[2018-05-15 20:58] cherimo opened #104 "scrollTo inside component doesnt work"
Hey,
Nice work on the react-native-parallax-scroll-view..
I have a problem with using scrollToLocation, in a normal view without react-native-parallax-scroll-view everything works fine but inside react-native-parallax-scroll-view it doesnt wanna work :
[code]
Can somebody help me with this?
ps: sorry for my english

[2018-05-22 10:36] nHiRanZ opened #105 "renderForeground content goes beyond bounds when pulling down"
Contents of the `renderForeground` method tends scroll out of bounds when pulling down on the scroll. Looks unnatural that way. Any way to fix this?

[2018-06-12 07:35] aqnaruto opened #108 "import CustomScrollView from 'custom-scroll-view' error"
don't exists

![qq 20180612153413](https://user-images.githubusercontent.com/9067159/41276230-37089b30-6e56-11e8-9799-f36248536ecc.png)

using rn 5.5

[2018-06-14 00:56] #108 closed

[2018-06-18 22:56] Li357 commented on #105
Is this the same bug as referenced here?

https://github.com/i6mi6/react-native-parallax-scroll-view/pull/109

[2018-06-19 06:36] nHiRanZ commented on #105
@Li357 Yes. Closing.

[2018-06-19 06:36] #105 closed

[2018-06-19 18:56] pcooney10 commented on #53
Happened to me as well, the cause for anyone who may come across this was a `null` value for the  `parallaxHeaderHeight` prop. (resulting in `NaN` above)

[2018-06-19 20:36] Li357 commented on #101
This is probably related to the old versions of React Native used in those examples. Might need to update those example version.

[2018-06-19 20:38] Li357 commented on #78
@i6mi6 @fungilation Any chance of updating the examples in your fork?

[2018-06-23 00:48] fabricio21x opened #110 "conchatumadre"
So many bugs

[2018-06-23 00:49] #110 closed

[2018-07-03 10:15] hydraZty commented on #71
I solved this problem with set 'stickyHeaderHeight' same to 'parallaxHeaderHeight'.

[2018-07-06 17:01] #65 closed

[2018-07-24 09:34] Ehsan0007 opened #111 "when scroll up onPress not work"

[2018-07-26 07:46] nicotroia commented on #67
I was able to work around this by editing the source code to animate the sticky header out of the way before the user scrolls.

I've made a [pull request](https://github.com/i6mi6/react-native-parallax-scroll-view/pull/112/files) to show people the code to do it. Presses are now possible within the sticky header area.

[2018-07-26 07:52] nicotroia commented on #111
The sticky header is fixed in that position and blocks presses to happen. I've made a PR to fix this issue. Have a look and implement this yourself if necessary https://github.com/i6mi6/react-native-parallax-scroll-view/pull/112/files

[2018-08-03 11:03] MaheshNandam commented on #87
Hey @i6mi6, @jaysoo

At first, thanks for this plugin,

Still, Can anyone solve this issue please?

[2018-08-03 12:02] MaheshNandam commented on #90
@hadg and @LMestre14 - thanks guys, I have fixed the same issue by using your code.

[2018-08-14 03:46] shx1545 opened #114 "There is a gap between the content and the picture when you drop down."
I do not want to set the outputScaleValue.

[2018-08-17 12:13] pradeep351 commented on #92
I put ListView inside ParallaxScrollView. In android, it's working fine but in IOS it could not scroll the content inside the ListView. What can be the issue? Any help

[2018-08-20 12:14] kenanchristian opened #115 "Cannot read property 'style' of undefined"
I always got this  **_Cannot read property 'style' of undefined_** error. This is my code snippet

[code]

Did I do something wrong?

[2018-08-31 07:10] geminiyellow commented on #91
hi all, i use other swiper, `react-swipeable-views` and put it in `renderForeground`, it working.
so i guess, background was covered by foreground, right? is really click background need?

[2018-09-06 11:12] flikQ commented on #34
Anyone fix this in the end?

[2018-09-06 12:36] flikQ commented on #69
@fungilation I forked your version of this library but this issue doesn't seem to be fixed, did I miss something? (I can't find a better way to comment to you than via the issue itself).

[2018-09-06 12:38] flikQ commented on #78
@fungilation I forked your version of this library but this issue doesn't seem to be fixed, did I miss something? (I can't find a better way to comment to you than via the issue itself).

[2018-09-06 15:17] flikQ commented on #111
ok fixed this issue on here, the previous above has a couple errors.

https://github.com/flikQ/react-native-parallax-scroll-view

[2018-09-06 18:16] fungilation commented on #69
I haven't touched this, I can't reproduce. I use both `renderForeground` and `renderStickyHeader` in my app and I don't have any touch event issues.

[2018-09-06 18:43] peacechen commented on #69
@fungilation  Do touch events register on the sticky header area?  To test this, it needs to contain a touchable component listening for events.

What version of RN are you using?  Maybe the behavior is different between RN releases.

[2018-09-06 19:18] fungilation commented on #69
On RN 0.56. Yes I use a touchable on the entire `renderStickyHeader` to scroll a long `FlatList` back to the top. You can see this in [my app WonderSwipe](https://medium.com/wonderswipe/rethink-mobile-search-10-100x-faster-introducing-wonderswipe-6f2ff0d0e667). Download the iOS app, search something, swipe left, scroll down on one of the summaries, tap sticky header on top.

[2018-09-07 15:49] grcen commented on #73
I put the component with TouchableOpacity to be rendered in the renderForeground or renderBackground props of the component. They can't be clicked. How to solve it?

[2018-09-09 07:35] noitcudni commented on #67
My workaround is to hook into scrollEvent callback function.
If `e.nativeEvent.contentOffset.y` is `<=` 0, the parallax-header is fully extended. Then, I set the stickyHeaderHeight to `0`, so effectively, the stickyHeader is out of the way.
Otherwise, I set the stickHeaderHeight back to its original height.

[2018-09-13 01:48] nicotroia commented on #111
Errors are fixed.

[2018-09-17 06:58] nppull commented on #50
same problem, list only render 10 items

[2018-09-21 05:06] masineedi commented on #91
renderForeground working perfectly

[2018-09-21 08:17] 164738777 commented on #34
same.

[2018-10-04 14:03] nvs2394 commented on #95
hi @lrain-lv do you have any updated ?

[2018-10-04 17:33] fungilation commented on #95
Works fine, at least with [my fork](https://github.com/fungilation/react-native-parallax-scroll-view)

[2018-10-04 17:33] #95 closed

[2018-10-05 01:15] sasssssha commented on #34
It would be great if smbd added an example of how to accomplish that result presented on a demo gif or perhaps we need pr here guys

[2018-10-12 14:49] jakubgrzelak opened #116 "Not comatible with iphone X, XS screens"
Unfortunately the package is not compatible with iPhone X and XS screens. There is always a background on the top and it is not possible to get rid of it ( or am I mistaken? ) Regards

[2018-10-12 18:42] fungilation commented on #116
Wrap it in your own View with safe top/bottom margins.

[2018-10-12 18:42] #116 closed

[2018-10-13 08:04] Daimension commented on #114
I changed the translateY of background style
`
translateY: interpolate(scrollY, {
									inputRange: [-p, 0, p],
									outputRange: [(window.height / backgroundScrollSpeed), 0, -(window.height / backgroundScrollSpeed)],
									extrapolateRight: 'extend',
									extrapolateLeft: 'clamp'
								})
`

[2018-10-15 07:38] jakubgrzelak commented on #73
The same here... If I render sticky header It covers the button which I have in the foreground and it isn't clickable ( you can click on it when sticky header appears ... zIndex doesn't help)

[2018-10-15 08:34] jakubgrzelak commented on #67
@noitcudni Your solution is simple and brilliant! Thanks for posting this

[2018-10-17 17:58] samiede opened #117 "onEndReached constantly called in nested FlatList"
Hey guys,

I've written a component which takes content as a prop, which is then rendered within the ParallaxScrollView, which basically looks like this:

[code]
I use this in several parts of the app and it works like a charm, but on one screen, this content is a FlatList, that makes use of onEndReached to load new content as the user scrolls down.
Using the FlatList inside the ParallaxScrollView

[2018-10-19 06:06] samiede commented on #74
Why can't you just display an image in the renderStickyHeader function?

[2018-10-24 16:31] daleside710 commented on #69
Add "stickHeaderheight" and add scrollEvent props like this:
 scrollEvent={event => {
          if (
            event.nativeEvent.contentOffset.y <= 0 &&
            this.state.stickHeaderHeight > 0
          )
            this.setState({ stickHeaderHeight: 0 });
          else if (
            event.nativeEvent.contentOffset.y > 0 &&
            this.state.stickHeaderHeight === 0
          )

[2018-11-06 11:04] ThienMD commented on #28
Same issue in reactnative 0.55

[2018-11-07 08:02] mohsinnaqvi110 commented on #117
Is there any solution, You figured it out?

[2018-11-07 12:08] samiede commented on #117
I wrote my own Component that uses a Section List (because for some reason it performs better than a FlatList). I added a SectionList Header, which I animate using the scroll position of the section list with the native driver (also important for performance, but it restrains you and the transforms you can make!)
I'm planning to release the module as library if I find the time to make it generally

[2018-11-08 03:09] mohsinnaqvi110 commented on #117
Isn't somehow we can apply fix in this library, did you find the cause for onEndReached repeatedly calling?

[2018-11-11 21:09] bahaa96 commented on #27
Is there any solution ?

[2018-11-13 08:54] DjarallahBrahim commented on #73
the same problem any solution ?

[2018-11-13 08:56] DjarallahBrahim opened #118 "Image slider in renderBackground"
Hi, i put image slider in renderBackground, but does not work, i think all touchable component does not work with renderBackground (event click...)
Any solution ?
Thank you

[2018-11-23 06:37] tandat2209 opened #119 "Apply shadow for sticky | fixed header"
I tried to apply the shadow for the header by setting `shadow` | `elevation`.

I have to remove the `overflow: 'hidden'` to make it work. And It worked on iOS, but the elevation on Android does not work.

Is there a way so that I can apply it?

https://github.com/i6mi6/react-native-parallax-scroll-view/blob/master/src/styles.js#L25

[2018-11-28 09:16] kimooc commented on #39
解决了吗

[2018-12-06 21:08] sdcoffey commented on #118
BIG +1 to this. @i6mi6 any workarounds here?

[2019-01-16 15:07] xiaohaook commented on #92
Hello, I would like to ask you how to solve this problem

[2019-01-21 04:55] vajid04 commented on #111
@nicotroia I am facing same issue. How did you manage to fix yours?
I am using 0.21.3 version with react-native 0.57.8

[2019-01-30 11:05] expertup opened #122 "Module parse failed: Unexpected token (14:26)"
My code:

import React from 'react';
import ReactDOM from 'react-dom';
import ParallaxScrollView from 'react-native-parallax-scroll-view';

class ParallaxComponent extends React.Component {
  render() {
    return (
	 <div fluid style={{ marginTop: '61px', overflow: 'hidden', boxSizing: 'context-box' }}>
		  <ParallaxImage />
	</div>
    )
  }
}

class ParallaxImage extends React.Component {
	rend

[2019-01-30 18:15] anwaro commented on #118
Any comments on this?

[2019-01-30 18:34] anwaro commented on #91
renderForeground is not working as it is not giving parallax effect that the library is all about, +1 for workaround

[2019-02-10 21:30] #122 closed

[2019-02-27 19:30] jankoritak commented on #27
Bump, still seems unsolved.

[2019-03-02 15:38] bahaa96 commented on #27
@jankoritak There's a PR solving this issue and it's working properly. It's not merged yet so you might need to clone it separately.

[2019-03-04 08:13] jankoritak commented on #27
@bahaa96 Could you, please, link me the PR?

Btw. I ended up resolving it by patching (removing) `footerSpacer`, which seems to work in my case.

[2019-03-06 13:23] vaibhgupta09 commented on #67
@noitcudni  mann you make my day 👍

[2019-03-08 18:40] tleewu opened #123 "How to prevent scroll content from overflowing into fixed header?"
Hi I'm trying to use the `renderFixedHeader` method, but I'm having some trouble with the child component overlapping with the header. See image below.

![image](https://user-images.githubusercontent.com/7733219/54048402-8c81f780-418e-11e9-8d10-db8716c186cc.png)

Wondering if I'm missing a gotcha here.

[2019-03-08 20:50] tleewu commented on #123
Closing this... decided to do a sticky header instead

[2019-03-08 20:50] #123 closed

[2019-04-01 12:09] TarasKredens commented on #26
work for me:
[code]

[2019-04-02 02:13] leoyb commented on #89
@blastering66 have you resolved this?

[2019-04-07 18:04] farshidshahmoradi1996 opened #125 "Blur Image on scroll"
Hi every body and thanks for this awesome and useful package .
I will blur and image with scrolling to down
can implement this idea with this package?

[2019-04-08 14:46] BharathBunty opened #126 "visual bug when scrolling the screen flickers"
when i am scrolling in tab view the components get flickered and getting some itching sensation to the eyes. please help me to find out this issue.. scrolling is also not smooth

[2019-04-10 09:17] BharathBunty commented on #126
Screen is lagging while scrolling up,please help me to fix this issue

[2019-04-14 14:23] chakrihacker commented on #126
It happens in iOS prod build for me

[2019-04-29 20:49] unfrgivn commented on #119
Kinda cheesy solution but you can set the styled height on the header 10px less than the actual height to show shadows and elevation.

so if the `stickyHeaderHeight` in my props is 80, I set the styles of the view in my `renderStickyHeader` header height to 70

[2019-05-23 13:39] mafiusu opened #130 "stickyHeaderIndices prop from React Native ScrollView is not working"
Hello I've just read the documentation about this GitHub Project "react-native-parallax-scroll-view" and there was a mention that _all of the properties of ScrollView are supported_.

But I tried to use the stickyHeaderIndices ScrollView prop from React Native and it doesn't snap the children to the header which I determine in the prop.

For more information about the _StickyHeaderIndices_ and wha

[2019-05-24 14:12] matheussblima commented on #73
I was able to solve the problem using the **onChangeHeaderVisibility** method and changing the **stickyHeaderHeight**.

`onChangeHeaderVisibility={(visible: boolean) => {
        this.setState({ visibleHeader: visible });
   }}`
`stickyHeaderHeight={!this.state.visibleHeader ? 100 : 1}`

[2019-05-28 18:57] matheussblima commented on #73
I was able to solve the problem using the onChangeHeaderVisibility method and changing the stickyHeaderHeight.

onChangeHeaderVisibility={(visible: boolean) => { this.setState({ visibleHeader: visible }); }}
stickyHeaderHeight={!this.state.visibleHeader ? 100 : 1}

[2019-05-31 08:59] kaytee319 commented on #80
how did you fix it with zindex? changing zindex didn't help me! Stuck on it for so long..pleasee help

[2019-07-02 20:40] acollazomayer opened #131 "The parallax animation of the background overlaps the status bar."
The animation of the background overlaps the status bar provoking this weird thing
![Screen Shot 2019-07-02 at 5 40 19 PM](https://user-images.githubusercontent.com/9849229/60545041-7cb79180-9cf0-11e9-9ead-8a80c153e0e3.png)
How can I preven this from happening

[2019-07-03 15:31] acollazomayer commented on #116
@fungilation this should not be closed! it is not compatible for iphone x, xs screens. the image is overlaping the status bar. adding a view with top margin is not working either. and wrapping it in a safe area view niether

[2019-08-19 07:44] brambang commented on #67
how to implement this?

[2019-08-19 07:45] brambang commented on #67
i got error:
`Invariant violation: inputRange must be monotonically non-decreasing`

[2019-09-07 03:22] wowtrxqn opened #133 "How to stop the event from bubbling"
drag-sort Component is nested inside the ParallaxScrollView.

How to ensure that the sliding of ParallaxScrollView is not triggered when dragging internal drag components

[2019-09-17 07:11] DaveLomber commented on #130
@mafiusu  Here is a MR with a fix https://github.com/i6mi6/react-native-parallax-scroll-view/pull/134/files

[2019-10-02 14:03] netgfx opened #135 "Control sticky header programmatically"
I'm looking for a way to reference or control the element or the animation of the sticky header, currently it displays with a weird animation and with a delay. Is there a way to control the animation or make it appear programmatically?

[2019-10-11 06:50] danishCB opened #136 "Currently Parallax view not working in Android Device..."
I am trying to use this library in my project but it's not working as shown in example after react native updated version. Previously it was working as expected. can you please check it.

[2019-10-14 06:48] wowtrxqn commented on #116
how to fix?

[2019-11-14 10:05] XELoh commented on #136
me too...

[2019-11-26 07:26] daimagine commented on #69
@daleside710 solution works fine for me. I wrapped it in a component like this

[code]

hope it helps anyone trying to solve this

[2019-11-28 13:27] ishareme opened #138 "Hope to support pull refresh"
Hope to support pull refresh ？

[2019-11-29 09:26] SAHITYASAI opened #139 "ScrollToOffset of Flatlist not working within ParallaxScrollView"
Actual Behaviour:
I'm working on a sample on achieving parallax header effects with FlatList in a sample  project. In iOS, by default clicking on status bar is scrolling to top without any issues. But in Android, scrollToTop option is not provided by default and scrollToOffset method of FlatList is not working.

Expected Behaviour:
i want to scrollToTop on reaching the end of FlatList in android t

[2019-12-18 16:44] oferRounds opened #141 "[Question] fixedHeader which its height is bigger then the stickyHeader"
Hi!
I’d like to show a button on the top right corner which remains sticky when the scroll view gets pulled, but goes up and disappears when the content get scrolled to the other side. In specific. the my sticky header height is smaller then button size (its size is the same as the status bar)

Is this possible some how?

Thank you for this so great library!

[2020-01-10 02:01] kirhim opened #142 "make the sticky header appear when scrollview pass certain point"
I love this library!

This is exactly what I was looking for :)

I am just wondering if I could make the sticky header appear when I scroll the view to a certain point.

Right now the sticky header starts to appear immediately when scrolling to the top. But don't want the sticky header to appear right away. I want it to appear when I scroll up to a certain point.

Could this be done?

[2020-01-12 12:03] oferRounds commented on #92
Anyone find a solution to this? Seeing it also

[2020-01-17 06:02] emmx commented on #71
I can confirm it should be deleted. Isn't it removed from the lib for a good reason?

[2020-02-20 12:10] oferRounds commented on #139
Hey @SAHITYASAI have you found any solution? Experiencing the same problem

[2020-03-26 21:01] anthonyk1225 commented on #142
@kirhim Just put your content in `renderForeground` of everything before parallax effect. Put everything that you want to appear after the effect as children.

[2020-04-01 08:55] namphd00769 commented on #111
I am facing same issue. How did you manage to fix yours?
I am using 0.21.3 version with react-native 0.62

[2020-04-07 21:20] ColtraneNadler commented on #142
hey @anthonyk1225 can you supply an example?

i'm also interested in this.

[2020-04-09 15:23] anthonyk1225 commented on #142
https://gist.github.com/anthonyk1225/1e9f4949050cdd2fdd7762189da1d63e

The header won't appear, until you start to scroll past what is in `renderForeground`.

[2020-04-10 11:02] Davete0302 commented on #135
Did you find an answer?

[2020-04-10 11:03] Davete0302 opened #143 "Programmatically show header"
Is there a way to control the animation or make it appear programmatically?

[2020-04-10 11:03] Davete0302 commented on #142
did you find a solution?

[2020-04-10 11:52] netgfx commented on #135
Unfortunately no, I used something else.

[2020-04-13 09:36] filianer commented on #138
I have spent time with this and it is as simple as this:
import { RefreshControl } from 'react-native';
...
`<ParallaxScrollView
refreshControl={<RefreshControl refreshing={loading} onRefresh={onRefreshDataHandler} />}
...
/>`

[2020-04-20 10:13] john28463719 commented on #28
Has someone fixed it or there are another solution

[2020-04-28 05:43] ManojKande opened #144 "Flat List showing only 10 items"
Kudos for providing a beautiful component!

The component is rendering only first 10 items when used in a FlatList. The remaining items are not being rendered.

[2020-04-28 06:14] ManojKande opened #145 "Footer moving to the bottom of the screen after a re-render"
Flat List footer component is moving downwards, leaving out a lot of empty space above it only on the first re-render.

This is happening only when the component is mounted for the first time. It works fine on re-mounting(going back and coming to the screen again).

[2020-05-06 13:25] acoutinho12 commented on #144
Try this:
https://stackoverflow.com/questions/54302266/react-native-flatlist-only-renders-10-items

It is not the best solution, but it worked well for me.

[2020-05-19 07:55] nomi9997 commented on #91
this is due to position:'absolute' in [backgroundImage](https://github.com/i6mi6/react-native-parallax-scroll-view/blob/5c3c92f6e32b5e7f0bacd60ea9da198d2ab3cf13/src/styles.js#L17)

[2020-05-27 08:22] Tj3n opened #147 "VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead."
This warning is showing when I'm using FlatList inside ParallaxScrollView, is there anyway to fix this or i'm doing something wrong?

Here's the code that I'm using, everything is working fine as expected, just the warning keep showing.

[code]

[2020-06-04 17:16] VanDu97 commented on #91
how to fix it ?

[2020-06-04 17:25] nomi9995 commented on #91
@VanDu97 I did not resolve swiper in renderBackground. I just put forward and back button through position absolute in renderForground to handle my swiper but I cannot handle swiper by touch in my case this is OK

[2020-06-04 17:32] VanDu97 commented on #91
cool. i will try. thank you

[2020-06-13 20:27] mm7mod commented on #147
facking the same issue

[2020-06-13 20:27] mm7mod commented on #147
facing the same issue

[2020-06-15 16:10] kamarmack commented on #147
Getting this warning as well. This [https://github.com/GeekyAnts/NativeBase/issues/2947#issuecomment-583884268](url) comment seems to indicate that in most cases it should be OK.

[2020-06-18 07:37] Tj3n commented on #147
I actually have found a fix for this, you can put your `FlatList` into the `renderScrollComponent` and the warning is gone, probably it replace the default `ScrollView` with the `FlatList` itself so there won't be problem:

[code]

[2020-06-18 07:37] #147 closed

[2020-06-22 07:20] rp-nova commented on #123
nooo, it's still an issue and today I'm facing this, should this issue reopen?

[2020-07-06 13:12] JayeshPatil-Dev commented on #118
Any update on this? its urgent

[2020-07-31 15:03] duartesilveira opened #148 "Change header left and right icons color when scroll"
Hey everyone,

I'm having some trouble to change from my existing header when scroll down. I have a white color on my header left and right icons but I want to change it to black when the image is gone. Does anybody have some idea how can I solve this?

Thanks

[2020-08-19 07:25] 5115191 commented on #147
same issue

[2020-09-08 08:25] seonoh commented on #92
+1

[2020-09-25 14:54] vibinjoby commented on #131
move the stuff from render background to render foreground that's how I resolved the issue in ios

[2020-09-25 15:09] vibinjoby commented on #73
@matheussblima thanks your solution worked for me +1

[2020-10-10 11:21] xushan1303616 opened #149 "onPress events do not take effect , goBack() Did not perform"
render() {
    return (
      <View style={{flex: 1}}>
        <ParallaxScrollView
          parallaxHeaderHeight={270}
          **renderForeground={this.renderForeground}**

          {this.renderContent()}
        </ParallaxScrollView>
      </View>
    );
  }

//  header
  **renderForeground**=() => {
    return <View style={styles.foreground} key="parallax-header">
        <View style={styles

[2020-10-10 11:32] xushan1303616 commented on #149
I defined an icon button in the renderForeground, hoping to return to the previous page by clicking the icon button, but this icon button did not return to the previous page. You can go back to the previous page if you define the icon button elsewhere. Why the icon button definition cannot return to the previous page in the renderForeground and why the onPress event is not executed in the renderFo

[2020-10-10 11:36] xushan1303616 commented on #149
I defined an icon button in the renderForeground, hoping to return to the previous page by clicking the icon button, but this icon button did not return to the previous page. You can go back to the previous page if you define the icon button elsewhere. Why the icon button defined in the renderForeground cannot return to the previous page, and why the onPress event is not executed for the icon defi

[2020-10-15 11:20] zhekix commented on #118
Give someone some advice! Please! ..

[2020-10-22 07:23] JeanC17 commented on #118
Any update solution on this?

[2020-10-22 07:27] zhekix commented on #118
I have solved this problem. I inserted the slider in foreground and a copy in background props. With a negative offset (scroll offset), the foreground disappears, and with a positive offset, the background is not visible by default. Working.

[2020-11-22 03:33] alidiepuit commented on #34
@flikQ @164738777 @youngfreshunique You need set position:'absolute' to fixed header.

[2020-12-11 02:48] DucSkt commented on #118
if anyone needs can mail for me
demo: https://drive.google.com/file/d/1WrMKeXFhP125GASs6ACc-CceY46U8GfK/view?usp=sharing

[2020-12-31 20:07] shivanshrajpoot opened #151 "TypeError: undefined is not an object (evaluating 'this.refs[SCROLLVIEW_REF]._component.getScrollResponder')"
Env:
RN : 0.63^

Problem:
When trying to use scrollTo function using ref, throws following error
`TypeError: undefined is not an object (evaluating 'this.refs[SCROLLVIEW_REF]._component.getScrollResponder')`

Reason:
`getScrollResponder() {
		return this.refs[SCROLLVIEW_REF]._component.getScrollResponder()
	}`
Above function uses _component to access the ref which is not there, hence throwing the

[2021-01-13 07:50] kalyanijamunkar10 commented on #138
Thank @filianer, This worked for me.

[2021-01-18 11:23] kalyanijamunkar10 opened #152 "FlatList pagination not working"

[2021-01-31 13:18] RevanthGovindan commented on #149
@xushan1303616 xushan1303616  facing same problem on my application, please share if you get any solution

[2021-02-01 08:57] erikkjernlie commented on #108
Me too

[2021-02-24 00:30] johhansantana commented on #67
add a `onScroll` prop to this library component and set the `e.nativeEvent.contentOffset.y` result in a state that you can access then just do
[code]

[2021-04-29 04:46] vismayainnow8 opened #154 "Sticky header goes under statusbar in android"
i am working in android now.. the sticky header goes under statusbar.. how can i solve this issue

[2021-05-03 15:12] linco95 commented on #154
Try wrapping the list in a [SafeAreaView](https://github.com/th3rdwave/react-native-safe-area-context)

[2021-05-28 20:19] jeffreyvanhees commented on #151
Fixed in https://github.com/i6mi6/react-native-parallax-scroll-view/pull/150, but it looks like the maintainer isn't checking it's pull requests anymore.

[2021-10-21 16:49] alexandrecoura96 opened #155 "Types for TypeScript"
Has anyone created the typescript version?

[2021-11-01 03:14] h1nson commented on #39
i need a clone of instagram profile screen

[2021-11-06 13:10] developer-ghahremani commented on #111
thank you so much bro
you survived me... @nicotroia

[2021-11-08 10:00] droidMakk opened #156 "ref access of scroll component"
To give ref access of the scroll component

[2021-11-17 19:52] #155 closed

[2022-01-05 08:00] KawaljeetSBagga commented on #111
@nicotroia That was an awesome solution brother. Thanks much.

For those wondering on why to edit the class from the node_modules or they do not wish to use patch, advice to them is to copy paste the code into local and then edit, as the library does not seem to be maintained anymore.
The solution by @nicotroia works flawless.

[2022-01-11 09:52] mx-kshitij opened #157 "TypeError: undefined is not an object (evaluating 'component.displayName')"
Hi,

I tried to use this lib in a native widget that I am working on. Tried to use the code from "basic usage" and am getting the error -
TypeError: undefined is not an object (evaluating 'component.displayName')

`import { Text, TextStyle, View, ViewStyle } from "react-native";

import { Style } from "@mendix/pluggable-widgets-tools";

import { ParallaxEffectProps } from "../typings/ParallaxEffec

[2022-01-19 19:50] Bickson commented on #118
Any solutions to having touchable in renderbackground?
Great demo video, how did you achieve it?

[2022-01-25 19:18] EliseiNicolae opened #158 "Disable fade and animation to stickyHeader"
It is possible to disable animation and fade to StickyHeader?

My code:
[code]

[2022-03-23 19:38] Daniel-Cross commented on #131
Also having this issue. Tried multiple solutions but the background shows in the Safe Area View regardless.

[2022-04-07 03:38] #27 closed

[2022-04-27 21:23] ushyDev opened #160 "Not working with KeyboardAwareScrollView"
When I type something in TextInput the keyboard automatically closes, has anyone solved this problem?

[code]

[2022-06-10 16:34] jeremyblong commented on #136
Same.

[2022-11-10 12:47] devuc commented on #157
i am also having the same issue with this code :

import { createNativeStackNavigator } from "@react-navigation/native-stack";
import React from "react";
const Stack = createNativeStackNavigator();

export const App = () => {
  return (
    <NavigationContainer>
      <Stack.Navigator>
        <Stack.Screen
          name="Home"
          component={HomeScreen}
          options={{ title: "Welcome